* {
  box-sizing: border-box;
  text-align: center;
}

.titlehandler{
  display: flex;
  justify-content: center;
  align-items: center;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

html{
  font-family: "Lucida Sans", sans-serif;
}

[class*="item-"]{
  float: left;
}

.footer {    background-color: rgba(255, 255, 255, 0.372);
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

  @media only screen and (max-width: 600px) {
    /* Celular: */
    .title {
      background-color: rgb(0, 234, 255);
      padding: 15px;
      margin: 20px;
      width: 90%;
      border-radius: 20px;
    }   

    html {background-color: rgb(108, 233, 255);}

    [class*="item-"]{
      background-color: rgba(5, 168, 193, 0.781);
      padding: 15px;
      margin: 20px;
      border-radius: 50px;
    }
  }
  @media only screen and (min-width: 601px) {
    /* Tablet: */
    .title {
      background-color: rgb(30, 255, 0);
      padding: 15px;
      margin: 20px;
      width: 90%;
      border-radius: 20px;
    }   

    html {background-color: rgb(157, 255, 148);}

    [class*="item-"]{
      background-color: rgba(36, 193, 5, 0.781);
      padding: 15px;
      margin: 20px;
      width: 40%;
      border-radius: 50px;
    }
  }

  @media only screen and (min-width: 900px) {
    /* desktop: */
    .title {
      background-color: rgb(145, 145, 145);
      padding: 15px;
      margin: 20px;
      width: 90%;
      border-radius: 20px;
    }    

    html {background-color: rgb(191, 191, 191);}

    [class*="item-"]{
      background-color: rgba(225, 225, 225, 0.781);
      padding: 15px;
      margin: 4vw;
      width: 25%;
      border-radius: 50px;
    }
  }